<% layout('./layout/page')%>
<% block('title', 'Все мероприятия этой пятницы')%>
<% if (parties) { %>
<div class="container">
<% parties.forEach( function(party) { %>
	    <div class="thumbnail">
	      <div class="caption">
  			<h3><a href="/party/<%=party.title%>" > <%= party.title %> </a></h3>
	        <p><%- party.description %></p>
	        <p><h6>Кто идет: <%- party.guests %></h6></p>
	      </div>
	    </div>
<% }) %>
 <% } else { %>
 	<h4>Нет мероприятий...</h4>
 <% } %>
</div>