<% layout('./layout/page')%>
<% block('title', 'Login page')%>
<p style="text-align:center;"> Введите свои учетные данные. Если указанного пользователя не существует, он будет зарегистрирован автоматически </p>
<form name="login-form" class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Имя пользователя</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" id="input-username" placeholder="Введите имя пользователя">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" id="input-password" placeholder="Введите пароль">
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Войти</button>
      <button type="button" class="btn btn-default" onClick="$('<form method=POST action=/logout>').submit();return false">Отмена</button>
    </div>
  </div>
</form>



<script type="text/javascript">
	  $(document.forms['login-form']).on('submit', function() {
	  	var form = $(this);
	  	$('.error', form).html('');
	  	$.ajax({
	  		url: "/login",
	  		method: "post",
	  		data: form.serialize(),
	  		complete: function() {
	  		},
	  		statusCode: {
	  			200: function() {
	  				form.html("Успешная авторизация");
	  				window.location.href = "/room";
	  			},
	  			403: function() {
	  				var error = JSON.parse(jqXHR.responseText);
	  				$('.error', form).html(error.message)
	  			}
	  		}
	  	});
	  	return false
	  });
</script>